.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 10px 20px;
  border-bottom: 2px solid gold;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(255, 215, 0, 0.2);
}
